<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
    <div class="page-header">
      <% include ../helpers/navbar %>
    
      <h1>Basic Web App</h1>
    </div>

    <button onClick="handleSignIn()">Login</button>
    <br>
    <br>
    <form onClick="handMessageFormSubmit()" action="#">
      Title: <br>
      <input id="post-title"><br>
      Body: <br>
      <textarea id="post-body"></textarea><br>
      <button>Submit</button>
    </form>
    <br>
    <div class="post-listing">

    </div>

    <br>

    <input class="search" type="text" placeholder="Enter City Name">
    <button type="button" onClick="searchWeather()">Search</button>

    <div class = "error-message"></div>

  <div class="city">

  </div>
  
  <div class="temp">

  </div>
</body>

</html>