<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
    <div class="page-header">
      <% include ../helpers/navbar %>
    
      <h1>Basic Web App</h1>
    </div>

    <button onClick="handleSignIn()">Login</button>
    <br>
    <br>
    <form onSubmit="handleMessageFormSubmit()" action="#">
      <div class="form-group row mx-auto">
        <label for="post-title" class="col-sm-1 col-form-label">Title</label>
        <div class="col-sm-11">
          <input type="text" class="form-control" id="post-title" placeholder="Enter post title">
        </div>
      </div>
      <div class="form-group row mx-auto">
        <label for="post-title" class="col-sm-1 col-form-label">Body</label>
        <div class="col-sm-11">
          <textarea type="text" class="form-control" id="post-body" placeholder="Enter post body"></textarea>
        </div>
      </div>  
      <button class="btn btn-dark btn-lg">Submit</button>
    </form>
  
    <hr>
  
    <h2>Posts</h2>
    <div id="post-listing"></div>

    <input class="search" type="text" placeholder="Enter City Name">
    <button type="button" onClick="searchWeather()">Search</button>

    <div class = "error-message"></div>

  <div class="city">

  </div>
  
  <div class="temp">

  </div>
</body>

</html>